<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="/static/styles.css" />
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>WikiHow</title>
    </head>

    <!-- Navigation Bar -->
    <div id="navbar">
        <a href="home.html">Home</a>
        <a href="about.html">About</a>
        <a href="development.html">Development</a>
    </div>

    <!-- Main Content -->
    <body>
        <h1>{{ title or 'WikiHow' }}:</h1>
        <ul>
            {% for item in zipped_steps_images %}
            <li>
                {{ item[0] }}
                <img src="{{ item[1] }}" alt="Image for {{ item[0] }}" />
            </li>
            {% endfor %}
        </ul>
    </body>

    <!-- Footer -->
    <footer>
        <div class="container">
            <p>How To Dummies</p>
            <p>&copy; 2023 Your Company Name. All rights reserved.</p>
            <!-- Add other footer content here -->
        </div>
    </footer>
</html>
