<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="/static/styles.css" />
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>WikiHow</title>
    </head>

    <body>
        <form action="/query" method="get">
            <input type="text" name="query" placeholder="How to:" />
            <input type="submit" value="Submit" />
        </form>

        <h1>{{ title or 'WikiHow' }}:</h1>
        <ul>
            {% for item in zipped_steps_images %}
            <li>
                {{ item[0] }}
                <img src="{{ item[1] }}" alt="Image for {{ item[0] }}" />
            </li>
            {% endfor %}
        </ul>
    </body>
</html>
